$number:12;
$l-device:2000px;
$m-device:980px;
$s-device:650px;
body,a,h2,h4,ul,li,img{
	margin:0;
	padding:0;
	list-style: none;
}
a{
	text-decoration: none;
}
*{
	box-sizing:border-box;
}
h1,h2,h3,h4,.lead,body {
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
.container{
	width:1200px;
	margin:0 auto;
	text-align: center;
 }
 
 @media screen and (max-width:1200px){
 .container{
 width:100%;
 .col.l2{
width:50%;
float: left;
}
.col.ms4{
	width: 30.333%;
	float: left;
}
 }
 }
 @media screen and (max-width:1000px){
   .container{
   width:100%;
   .col.m4{
width:50%;
float: left;
}
.col.ms4{
	width: 33.3333%;
	float: left;
}
      }
 }
 @media screen and (max-width:750px){
 .container{
 width:100%;
 .col.s12{
width:100%;
float: left;
}
.col.ms4{
	width: 100%;
	float: left;
}
 }
 }
 .row{
    position:relative;
    margin-right: -15px;
    margin-left: -15px;
     &::before{
              content:'';
              display:block;
              clear:both;
              height:0;
              line-height:0;
 }  
     &::after{
              content:'';
              display:block;
              clear:both;
              height:0;
              line-height:0;
 }
 }
.col{
 float:left;
 width: 50%;
}
.col.ms4{
	float: left;
	width:33.333%;
}

body{
	margin:0;
	padding: 0;
	height: 2000px;
	background: #f2f2f2;
}
.header {
    background: #222;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    padding: 138px 0 0;
    text-align: center;
    min-height: 400px;
    position: relative;
    .col-xs-12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
     h2 {
    color: #fff;
    padding: 0;
    margin: 0 0 45px;
    font-weight: 100;
    font-size: 34px;
    span {
    display: none;
    margin-top: 6px;
    font-size: 65%;
}
}
    .logotxt {
    margin-bottom: 30px;
    border: 0;
    h1{
	font-size: 36px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 500;
    line-height: 1.1;
    color: white;
     a {
    font-weight: 700;
    color: #fff;
    font-size: 64px;
    &:hover{
    	text-decoration:underline;
}
}
}
}
}
}


.logoimg {
    position: absolute;
    left: 1%;
    right: 1%;
    bottom: -34px;
}

.main{
	margin-top: 90px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    clear: both;
     &::before{
              content:'';
              display:block;
              clear:both;
              height:0;
              line-height:0;
 }
    &::after{
    	      content:'';
              display:block;
              clear:both;
              height:0;
              line-height:0;
    }
 .con{
	display: block;
	background: white;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    .post-image{
	background-size: cover;
	display: block;
	width: 100%;
	padding: 10px;
	position: relative;
	img {
    display: block;
    max-width: 100%;
    height: auto;
}
}
    .post-title {
    position: absolute;
    font-size: 24px;
    z-index: 9;
    bottom: 12px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0;
    font-weight:500;
    line-height: 1.1;
    a {
    color: #777;
    text-decoration: none;
    &:hover{
    	color: #222;
    }
}
}
}
}
.col{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;   
}


.pagination {
    display: block;
    position: relative;
    text-align: center;
    color: #666;
    font-size: 13px;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    .page-number {
    color: #39414a;
}
    a {
    border: 1px solid #39414a;
    position: absolute;
    top: -10px;
    right: 10px;
    padding: 10px;
    color: #39414a;
    white-space: nowrap;
    border-radius: 3px;
    text-decoration: none;
}
}


.submit-site {
    background-color: #eee;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 20px;
    .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    &::before{
              content:'';
              display:block;
              clear:both;
              height:0;
              line-height:0;

 }
   &::after{
              content:'';
              display:block;
              clear:both;
              height:0;
              line-height:0;

 }
  p {
    margin: 0 0 10px;
}
a {
    color: #337ab7;
    text-decoration: none;
}
}
}

/*底部样式*/
.main-footer {
    background: #202020;
    padding: 35px 0 0;
    color: #959595;
    .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
     &::before{
              content:'';
              display:block;
              clear:both;
              height:0;
              line-height:0;

 }
     &::after{
              content:'';
              display:block;
              clear:both;
              height:0;
              line-height:0;
 }
 .row {
    margin-right: -15px;
    margin-left: -15px;
   &::before{
              content:'';
              display:block;
              clear:both;
              height:0;
              line-height:0;

 }
}
}
}

.main-footer .widget {
    padding: 0 30px;
    margin-bottom: 35px;
    .title {
    color: #fff;
    border-bottom: 1px solid #303030;
    margin-top: 0;
    padding-bottom: 7px;
    margin-bottom: 21px;
    position: relative;
    font-size: 18px;
    font-weight: 500;
      &::after{
              content:'';
              display:block;
              clear:both;
              height:0;
              line-height:0;
 }
}
a {
    display: block;
    border-bottom: 1px dashed #303030;
    padding-bottom: 14px;
    margin-bottom: 14px;
    color: #959595;
    transition: all .2s ease;
    &:hover {
    color: #fff;
    text-decoration: none;
}
}
}
.widget .tag-cloud a {
    border: 1px solid #303030;
    padding: 2px 7px;
    color: #959595;
    float: left;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 7px 7px 0;
    font-size: 14px;
    transition: all .2s ease;
    &:hover {
    color: #fff;
    background: #337ab7;
    border: 1px solid #337ab7;
    text-decoration: none;
}
}


.copyright {
    background: #111;
    font-size: 13px;
    text-align: center;
    color: #555;
    padding-top: 14px;
    padding-bottom: 20px;
    border-top: 1px solid #303030;
    a {
    color: #555;
    &:hover{
    	text-decoration:underline;
    }
}
}
